*{
    margin: 0;
    padding: 0;
}

/* This displays the background image and the font used*/
body{
     background-image: linear-gradient(rgba(8, 17, 51, 0.7), rgba(4,9,30,0.7)), url(images/contactusbg.png);
    background-position: center;
    background-size: cover;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}


/* This displays the home button*/
nav{
    display: flex;
    padding: 4% 8%;
    justify-content: space-between;
    align-items: center;
}

.nav img{
    width: 50px;
}

.nav-links{
    flex:1;
    text-align: left;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 34px;
    position: relative;
}

.nav-links ul li a{
    color: aliceblue;
    font-size: 15px;
    text-decoration: none;

}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    display: block;
    margin:auto;
    background: #fafafa;
    transition: 0.3s;
}

.nav-links ul li:hover::after{
    width: 110%;
}

/*Devided into two different sections- Reach us and Send your request*/
.container{
    width: 80%;
    margin: 50px auto;
}

.contact-box{
    background: #fff;
    display: flex;
}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #d2cfe4;
    color: rgb(0, 22, 224);
}

.container p{
    margin-bottom: 40px;
}

h1{
	color: #FFFFFF;
   font-size: 40px;
    margin-bottom: 10px;
}

p{
	color: #FFFFFF;
    font-size: 25px;
}


input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.input-row .input-group{
    flex-basis: 45%;
}


textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5
}

/* This displays the button "Send" */
button{
    background: #1c00b5;
    width: 100px;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(23, 10, 95, 0.3);
}

/*This displays the "Send your request" section*/
.contact-left h3{
    color:#2104c4;
    font-weight: 600;
    margin-bottom: 30px;
}


/* This displays  the "Reach Us" section*/
.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}

