@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #24252A;
    color: ivory;
    font-family: 'Poppins', sans-serif;
}



nav{
    display: flex;
    padding: 4% 8%;
    justify-content: space-between;
    align-items: center;
}

.nav img{
    width: 50px;
}

.nav-links{
    flex:1;
    text-align: left;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 20px 34px;
    position: relative;
}

.nav-links ul li a{
    color: aliceblue;
    font-size: 15px;
    text-decoration: none;

}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    display: block;
    margin:auto;
    background: #fafafa;
    transition: 0.3s;
}

.nav-links ul li:hover::after{
    width: 110%;
}
.container{
    text-align: center;
    background: white;
}

.header{
    padding-top: 30px;
    color: #445;
    font-size: 25px;
    margin: auto;
    line-height: 50px;
}

.sub-container{
    max-width: 1200px;
    margin: auto;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* This displays different members of our team */
.teams{
    margin: 21px;
    padding: 22px;
    max-width: 30%;
    cursor: pointer;
    transition: 0.5s;
    box-sizing: border-box;
}



/* This changes the background color after you hover the image */



.teams img{
    width: 200px;
    height: 200px;
}


.name{
    padding: 12px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.design{
    font-style: italic;
    color: rgb(0, 0, 0)
}


.about{
    margin: 20px 0;
    font-weight: lighter;
    color: #4e4e4e;
}

.about:hover{
    color: #ffff;
}
